node_modules
.next
out
build
.git
.gitignore
.dockerignore
Dockerfile
README.md
.env.local
.firebaserc
firebase.json
firestore.rules
storage.rules
functions/node_modules
functions/lib
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
